<h1 id="tableLabel">All Notes</h1>

<p>This component demonstrates fetching data from the server.</p>
<p *ngIf="!notes"><em>Loading...</em></p>

  <input type="text" [(ngModel)]="noteContent" placeholder="Search by Id or Add a Note"/>
  <button type="button" class="btn btn-success btn-sm" (click)="add(noteContent)">Add Note</button>
  <button type="button" class="btn btn-info btn-sm" (click)="search(noteContent)">Search By Id</button>


<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="notes">
  <thead>
    <tr>
      <th>Id</th>
      <th>Note</th>
      <th>Edit</th>
      <th>Delete</th>

    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let note of notes">
      <td>{{ note.noteId }}</td>
      <td>
        <span *ngIf="editNote!==note; else editInput" class="name">{{ note.content }}</span>
        <ng-template #editInput>
          <input #noteEditInput type="text" class="name" [value]="editNote!.content" (blur)="edit(noteEditInput.value)" (keydown.enter)="edit(noteEditInput.value)"/>
        </ng-template>
      </td>
      <td><button class="btn btn-warning" *ngIf="editNote!==note;" (click)="editNote = note;">Edit</button></td>
      <td><button class="btn btn-danger" (click)="delete(note)">Delete</button></td>
    </tr>
  </tbody>
</table>
